nav{
    display: flex;
    background-color: #3f95ce;
    width:1450px;
    height: 80px;
    padding: auto;
    margin:auto;
    
}
nav a{
    font-size:x-large;
    margin-left: 400px;
    position:relative;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration:double;
}

nav a:link {
    color: red;
}
  
nav a:visited {
    color: rgb(253, 253, 253);
}
nav a:hover {
    color: hotpink;
}
nav a:active {
    color: rgb(0, 255, 8);
}
.tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    font-family:'Montserrat', sans-serif ;
    font-size:xx-large;
    justify-content: center;
}

body {
    background-color: rgb(251, 251, 251);
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin:auto;
}



#form {
    border: 0.5px solid rgb(109, 186, 113);
    border-radius: 10px;
    width:max-content;
    height:auto;
    padding:15px;
    background-color: rgb(89, 219, 82);
    margin: auto;
}

div {

    border-radius: 5px;
    width:fit-content;
    height:fit-content;
    display: flex;
    flex-direction:column;
    padding:auto;
    background-color: antiquewhite;
    margin:auto;

}
img{
    width:min-content ;
    height:min-content;
}

footer {
    
    display: flex;
    flex-direction: column;
    justify-self:baseline;
    background-color: #3f95ce;
    color: #ffffff;
    padding:auto;
    margin:auto;
    bottom: 0;
    width: 100%;
    
}